
@import url(https://fonts.googleapis.com/css?family=Special+Elite);

body {
   font-size: 180%;	
   margin: 0;
}

main {
  width: 500px;
  margin: auto;	
  padding: 40px 0 100px 0;
}

footer {
   height: 100px;
   background-color: #000;	
}

h1 {
	color: #fff;
	font-family: 'Special Elite', cursive;
	font-size: 60px;
	padding: 60px 0;
	margin: 0;
	background-color: #000;
	text-align:center;
}

button {
  border-radius: 13px;
  font-family: Arial;
  color: #fff;
  font-size: 16px;
  background: #3498db;
  padding: 5px 10px;
  text-decoration: none;
}

button:hover {
  background: #3cb0fd;
}

button:focus {outline:0;}

.center {
  text-align: center;	
}

#hover {
  width: 300px;
  height: 100px;
  background-color: #39B7CD;
}

.green {
  border: 4px solid #00AF33;
}

.hideMe {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #FF6103;
  margin-left: 100px;
}

.cute {
  height: 100px;
  margin-left: 20px;
}

#makeSquare {
  width: 300px;
  height: 120px;
  border-radius: 10px;
  background-color: #C82536;
}

#dontClick{
  width: 180px;
  background-color: #7CFC00;
  color: #000;
  font-size: 20px;
  border: solid #7CFC00;
}

.swatch {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
  border: 1px solid #000;
}

.swatches:after {
  content: "";
  display: table;
  clear: both;
}

.black {
  background-color: #000;
  color: #fff;
}

.wood {
  background-image: url("http://phandroid.s3.amazonaws.com/wp-content/uploads/2015/03/wood-wallpaper-3.jpg");
  background-size: 100%;
  color: #fff;
}

.chaos {
  background-image: url("http://www.henderson-art.co.uk/art/wallpaper/chaos.jpg");
  background-size: 100%;
  color: #fff;
}

hr {
 margin: 80px 0;   
}
